*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap'); */

body {
  font-family: 'Roboto', sans-serif;
}

.form{
    margin: 0 auto;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.form h1{
    padding: 50px 0px;
}

.form label{
    padding-bottom: 10px;
    color: grey;
}

.form input{
    width: 80%;
    padding: 8px 15px;
    border-radius: 5px;
    border: 2px solid grey;
    font-size: 22px;
    margin-bottom: 30px;
}

.form input:focus{
    border: 2px solid royalblue;
    color: rgb(21, 106, 139);
}

.information{
    width: 80%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    padding: 70px 0px 20px 0px;
    text-transform: uppercase;
    position: relative;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    z-index: 24444;
}

.information h2{
    font-weight: 500;
}

.information h3{
    padding: 20px 0px;
    font-size: 18px;
    color: grey;
}

.information p{
    font-size: 50px;
    font-weight: 200;
    color: rgb(81, 78, 78);
}

.image{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    top: -20%;
    z-index: 1;
}

.span{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.5);
    top: 46%;
}

.dNone{
    display: none !important;
}



/* Loader */

.loader{
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.407);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  